# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# Terraform variable files
*.tfvars
*.tfvars.json

# Crash logs
crash.log

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI accidental files
--bucket
s3api*
tCharged*
umAlgorithm*
